footer,
span a {
    background-color: #ffffff;
}

header {
    background-image: linear-gradient(#ffaa00, #d00000);
}

table thead,
table tfoot {
    background-color: #9500f9;
}

table tbody tr:nth-child(odd) {
    background-color: #fff200;
}

table tbody tr:nth-child(even) {
    background-color: #ff00dd8f;
}

table tbody tr:hover {
    background-color: #1e00ff;
}

table tfoot td {
    border-top: 1px solid #40ff00;
}